// @use "react-md" as *;
@use '@react-md/theme/dist/color-palette' as color;
@use 'react-md/dist/everything' as * with
(
  $rmd-theme-light: true,
  $rmd-theme-primary: color.$rmd-pink-50,
  $rmd-theme-secondary: color.$rmd-pink-a-200,
  $rmd-theme-on-primary: color.$rmd-pink-300,
  $rmd-theme-on-secondary: color.$rmd-blue-grey-800
);

body {
  background-color: $rmd-theme-primary;
}

.container {
    @include rmd-utils-optional-css-modules('.rmd-list', true, false) {
      @include rmd-theme-dark-elevation(6, true);
    }
  
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
  
    .rmd-list {  
      margin: 1rem;
      max-width: 30rem;
      width: 50%;

      .rmd-list-item {
        border-radius: 10px;
        background-color: $rmd-theme-on-primary;
        color: $rmd-theme-on-secondary;
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 10px;

        .strikethrough {
          text-decoration: line-through;
        }
      }
      .rmd-list-item:hover {
        background-color: $rmd-theme-on-primary;
        color: $rmd-theme-primary;
      }      
    }
  }

  .form-todo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 30rem;
    width: 50%;
    gap: 10px;
  }

  .divider {
    max-width: 40rem;
    width: 60%;
  }

@include react-md-utils;